name: Static Analysis

# Run on main push and pull requests
on:
  push:
    branches:
      - dev
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:

  static-analysis:
    name: Run cppcheck
    uses: nasa/cFS/.github/workflows/static-analysis.yml@main
